<a href="https://colab.research.google.com/github/armahin/python/blob/main/1.%20Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#

# Python Output

In [ ]:
#Python is a case sensitive language
print("Mahin")

Mahin

In [ ]:
#print(salman khan) // Wrong as no inverted comma

In [ ]:
print(7)

7

In [ ]:
print(7.7)

7.7

In [ ]:
print(True)

True

In [ ]:
print('Hello',1,3,5,True)

Hello 1 3 5 True

In [ ]:
print('Hello',1,3,5,True,sep='/')

Hello/1/3/5/True

In [ ]:
print('Hello',end='-')
print('World')

Hello-World

# Data Types

Every programming language has data types which means how many data types the language you chose can work with.
**So let's see how many of data types python can work with.**

In [ ]:
# Integer
print(8)
print(1e308) # 1*10^308

8
1e+308

In [ ]:
#Decimal/Float
print(8.55)
print(1.7e308)

8.55
1.7e+308

In [ ]:
#Boolean
print(True)
print(False)

True
False

In [ ]:
#Text/String
print('Hello World')

Hello World

In [ ]:
#Complex Number
print(5+6j)

(5+6j)

In [ ]:
#List/ Array of C (though a bit different)
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
#Tuple (List er bhai)
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [ ]:
#Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [ ]:
#Dictionary / Value Pairs
print({'name': 'Nitesh','gender': 'Male','weight':70})

{'name': 'Nitesh', 'gender': 'Male', 'weight': 70}

In [ ]:
#Type
type(2)
type('hello')

str

# Variables

**Variables are basically containers where we store data.**
They are containers for future use

Static vs Dynamic Typing

Static vs Dynamic Binding

Stylish declaration techniques

In [ ]:
# C/C++
name = 'mahin'
print(name)

a=5
b=6
print(a+b)

mahin
11

**Dynamic Typing**

*Where you **do not** tell the data type of the variable*

a = 7

print(a)

---
**Static Typing**

*Where you **do** tell the data type of the variable*

int a = 7

print(a)


---

**Dynamic Binding**

*Whenever you're making a data type in python,that doesn't have any fixed data type*

a = 7

print(a)

a = 'mahin'

print(a)


---
**Static Binding**

*Whenever you're making a data type in python,that is fixed data type*

In [ ]:
#Stylish Way of Making Variables

In [ ]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [ ]:
a=b=c = 5
print(a,b,c)

5 5 5

# Keywords & Identifiers

 **Keywords:** Python has 32 Keywords and Python doesn't allow these 32 words as a variable

  **Identifiers:** Name is the identifier like what name you can use as a variable.

# User Input

In [ ]:
input('Write Your Name ')

Write Your Name 202312

'202312'

In [ ]:
a = input('Enter First Number ')
b = input('Enter Second Number')
print(type(a),type(b))
result = int(a)+int(b)
print(result)

Enter First Number 134134
Enter Second Number134123136
<class 'str'> <class 'str'>
134257270

# Type Conversion

Type conversion is to convert a data type to a different data type.

Python has **two types** of type conversion:


1.   Implicit = When python automatically understands and don't throw any error.
2.   Explicit = When Implicit Type Conversion doesn't work.

***N.B: Type Conversion doesn't make permanent changes.In memory new space is created for it.The old one stays the same.***

In [ ]:
#Implicit :
print(3+4.612)

7.612

In [ ]:
#Explicit:
# Here this will throw error:
# print(4+'4');
#So we will have to convert the type

#Str to Int:
print(4+int('4'))

#Int to Str:
print(str(4))

#Float
float(4)

8
4

4.0

# Literals

Where variables are literally containers where value is stored, Literals are the value that is stored in variables as in a = 2 here a is variable and 2 is literal.